*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}



.car-rental-container {
  padding: 25px;
  max-width: 100%;
  overflow-x: hidden;
 
   
    background-color: #f9fafb;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}
.card {
  max-width: 100%;
  width: 100%;
  max-width: 700px;  /* max-width fixed */
  height: 380px;
  flex-shrink: 0;
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  background-color: #54A6FF;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.card2 {
  max-width: 100%;
  width: 100%;
  max-width: 700px;  /* max-width fixed */
  height: 380px;
  flex-shrink: 0;
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  background-color: #3563E9;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.card-blue {
  background-color: #3b82f6;
}

.card-darkblue {
  background-color: #1e40af;
}

.card h2 {
  font-size: 3rem;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -90px;
}

.card p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
}


.card2 h2 {
  font-size: 3rem;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -90px;
}

.card2 p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.rental-btn{
  background-color: #3563E9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  width: fit-content;
}

.rental-btn1 {
     background-color: #54A6FF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  width: fit-content;
}

.card img {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 60%;
  height: auto;
}

.card2 img {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 60%;
  height: auto;
}






/* Media Queries */

/* For tablets */
@media (max-width: 768px) {
    .card {
       width: 400px;
height: 232px;
    }
    .car-rental-container{
      width: 400px;
    }
    .card h2{
      padding-top: 45px;
        font-size: 26px;
        display: flex;
width: 240px;
height: 20px;
flex-direction: column;
justify-content: center;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 24px */
letter-spacing: -0.32px;
margin-top: -60px;

    }

    .card p{
      width: 300px;
      margin-top: 30px;
      font-size: 10px;
      font-weight: 500;
    }
    .card img{
      margin-left: 10px;
    }
    
    .card2{
      display: none;
    }

    .rental-btn{
      font-weight: 400;
    }


}


